:root {
  /* Brand Color Pallette */
  --main-font-color: #fff;
  --secondary-color: #13293d;
  --nav-bg-color: #d8a47f;
  --card-shadow-color: #aaaaaa;

  /* Element Styling */
  --half-border-radius: 50px;
  --top-left-top-right-br: 50px 50px 0px 0px;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--secondary-color);
  color: var(--main-font-color);
}

nav {
  display: flex;
  background-color: var(--nav-bg-color);
}

nav a {
  color: var(--secondary-color);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--main-font-color);
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--secondary-color);
  color: var(--main-font-color);
  margin-top: auto;
}

.products {
  flex: 1;
  background-color: var(--main-font-color);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--half-border-radius);
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px var(--card-shadow-color);
  margin: 20px;
}

.card > header {
  border-radius: var(--top-left-top-right-br);
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
