* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
TODO: Write your answer here 
ANSWER: Setting the display property to flex creates a flex container. The direct children of that container become flex items.
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
TODO: Write your answer here 
ANSWER: The CSS flex-warp property is used to specify whether flex items are forced into a single line or wrapped onto multiple lines.
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
TODO: Write your answer here 
ANSWER: The CSS justify-content property defines how the browser distributes space between and around the content items along the main-axis of a flex container, and the inline axis of a grid container.
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
TODO: Write your answer here 
ANSWER: The shorthand property sets how a flex item will grow or shrink to fit the space available in its flex container. 
There is both zero (0) flexibility for 'flex-grow' and 'flex-shrink'. Meaning to card will not grow or shrink when the screen sizes change. 'Flex-basis' is set to 400px - initializing the card size.
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 
TODO: Write your answer here 
ANSWER: The flex-direction property defines the direction of the flex items within the flex container.
The main navigation links are stacked in a column when the page is viewed on screen sizes less than or equal to 768px.
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
